<?xml version="1.0"?>

<model>
  <name>alphabet_soup</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jonathan Tremblay</name>
    <email>jtremblay@nvidia.com</email>
  </author>

  <description>
    Alphabet Soup model used to train 6-DoF pose estimation model implemented with https://github.com/NVlabs/Deep_Object_Pose
  </description>

</model>
